@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #f0f9ff;
  background-color: #1e2939;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: #f0f9ff;
  font-weight: 600;
}

a:hover {
  color: #f2542d;
  text-decoration: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  background-color: #f0f9ff;
  color: #2f4858;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  color: #f2542d;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.nav-link:hover {
  color: #1e2939;
  font-weight: 800;
}

.icon {
  margin: 0 auto;
}

.icon:hover {
  fill: #1e2939;
  cursor: pointer;
}

.hero-btn {
  border-radius: 0.25em;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.75em;
  font-weight: 700;
  font-family: inherit;
  background-color: #f0f9ff;
  color: #2f4858;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 12em;
  height: 3em;
  margin: 1em;
}